.search-container {
    display: flex;
    border: 2px solid #000000; /* Borde azul */
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.search-input {
    width: 90%; /* Ancho proporcional de la barra de búsqueda */
    max-width: 1011px; /* Ancho máximo */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
}
.search-button {
    padding: 10px 15px; /* Espaciado interno */
    background-color: #ffcc00; /* Color de fondo del botón */
    color: #003366; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 0 5px 5px 0; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}
.search-button:hover {
    background-color: #002ae6; /* Color más oscuro al pasar el ratón */
}
.gallery {
    display: flex; /* Utiliza Flexbox para alinear las imágenes */
    justify-content: space-around; /* Espaciado uniforme entre imágenes */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias líneas si es necesario */
}
.gallery img {
    width: 675px; /* Ancho de la imagen */
    height: 294px; /* Alto de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio */
    margin: 10px; /* Espaciado entre las imágenes */
    border-radius: 8px; /* Bordes redondeados */
}
h1 {
    color: white;
    text-align: center;
}