p{
    color: white;
    font-size: small;
}

.contenedor {
     align-items: left;/* Centra el texto y las imágenes dentro del contenedor */
}

.contenedor2{
    align-items: right;
}

.imagen {
    align-items: center;
    margin: 1px; /* Espacio entre las imágenes */
    margin: 1px; /* Espacio entre las imágenes */
}
.imagen-contenedor{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
}

p{
    align-items: center;
    justify-content: center;
}

.title{
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}